<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-login">
  <div class="container-tarjet-float">
    <ion-label class="container-title" >Login</ion-label>
     <div class="container-inputs">
      <ion-icon name="person"></ion-icon>
      <input class="custom-input" placeholder="Nombre">
     </div>
     <div class="container-inputs pasword">
      <ion-icon name="lock-closed"></ion-icon>
      <input class="custom-input" placeholder="Contraseña">
     </div>
    <div class="container-button">
      <button>Login</button>
    </div>
    <div class="footer">
      <span>¿Nuevo por aquí? <span class="underline" (click)="goToRegister()">Crea una cuenta.</span></span>
    </div>
  </div>
  </div>
</ion-content>
